doctype html
html(lang="zh-CN")
  head
    title= "grep code online"
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/app.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    script(type='text/javascript', src='/js/jquery.js')
  body
    block content